<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Factures</title>
    
    <link rel="stylesheet" type="text/css" href="/static/assets/css/login.css">
    <!-- Add your CSS and other stylesheets here -->
    <style>
      /* ... your existing CSS ... */

      /* Center the sign-in section */
      .center-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }

      .login-card {
          background-color: #ffffff;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          width: 300px;
      }
  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'facturation:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'facturation:register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content">
      <div class="center-container">
        <div class="login-card">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
        

    <footer class="footer">
        <div class="container text-center">
            
            <p class="title">Gestion des Factures</p>
            <p>© 2023 Abrar Invest</p>
        </div>
    </footer>

    <!-- Add your scripts here -->
</body>
</html>