<!DOCTYPE html>
{% if user.is_authenticated %}
{% load group_tags %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Factures</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
  {% if user.is_authenticated %}
  
        <div class="sidebar">
          <div class="logo-details">
                
            <div class="logo_name">Menu</div>
                <i class='bi bi-list' id="btn" ></i>
            </div>
            <ul class="nav-list">
             
              <li>
                  <a href="{% url 'facturation:homepage' %}">
                  <i class='bi bi-journal-text'></i>
                  <span class="links_name">Factures</span>
                  </a>
                  <span class="tooltip">Factures</span>
              </li>
              <li>
                  <a href="{% url 'facturation:fournisseurs' %}">
                  <i class='bi bi-people-fill' ></i>
                  <span class="links_name">Fournisseurs</span>
                  </a>
                  <span class="tooltip">Fournisseurs</span>
              </li>
              <li>
                  <a href="{% url 'facturation:services' %}">
                  <i class='bi bi-nut' ></i>
                  <span class="links_name">Services</span>
                  </a>
                  <span class="tooltip">Services</span>
              </li>
              <li>
                  <a href="{% url 'facturation:logout' %}">
                  <i class='bi bi-box-arrow-left' ></i>
                  <span class="links_name">Logout</span>
                  </a>
                  <span class="tooltip">logout</span>
              </li>
        
            </ul>
          </div>
        </div>

    <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });
    searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });
    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
    if(sidebar.classList.contains("open")){
      closeBtn.classList.replace("bi bi-list", "bx-menu-alt-right");//replacing the iocns class
    }else {
      closeBtn.classList.replace("bx-menu-alt-right","bi bi-list");//replacing the iocns class
    }
    }
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
    </script>
    
    <div class='allcontainer'>
      <div class="header">
        <h1>Gestion des Factures</h1>

        <div class="add-buttons">
            {% if request.user|user_in_group:'admin' %}
            <button class="modal-button" data-modal-target="#addFactureModal">Ajouter une Facture</button>
            <button class="modal-button" data-modal-target="#addFournisseurModal">Ajouter un Fournisseur</button>
            <button class="modal-button" data-modal-target="#addServiceModal">Ajouter un Service</button>
            {%endif%}
            <button class="modal-button" data-modal-target="#Imprimer">Imprimer</button>

        </div>
        <div class="modal" id="Imprimer">
          <div class="modal-content">
         
            <div class="form-container">
              <form role="form" method="POST" action="{% url 'facturation:export_data' %}?{{request.GET.urlencode}}" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group">
                    <label>Choisis le format</label>
                    <select class="custom-select" name="file-format">
                      <option selected>format...</option>
                      <option>CSV</option>
                      <option>JSON</option>
                      <option>XLS (Excel)</option>
                      <option>PDF</option>
                    </select>
                  </div> <br><br><br>
                <button type="submit" class="btn btn-info btn-block">Exporter</button>
              </form>  
            </div>
          </div>
        </div>
        {% if request.user|user_in_group:'admin' %}
        <div class="modal" id="addFactureModal">
          <div class="modal-content">
              <h2>Ajouter une Facture</h2>
              <div class="form-container">
                  <!-- Add Facture Form Content -->
                  <form method="POST">
                      {% csrf_token %}
                      {{ facture_form.as_p }}
                      <input type="submit" value="Adjouter une Facture">
                  </form>
              </div>
          </div>
        </div>
        
        <!-- Add Fournisseur Modal -->
        <div class="modal" id="addFournisseurModal">
          <div class="modal-content">
              
              <h2>Ajouter un Fournisseur</h2>
              <div class='form-container'>

                  <form method="post">
                      {% csrf_token %}
                      {{ fournisseur_form.as_p }}
                      <input type="submit" value="Ajouter un Fournisseur">
                  </form>
              </div>
          </div>
        </div>
        
        <!-- Add Service Modal -->
        <div class="modal" id="addServiceModal">
          <div class="modal-content">
              <div class="form-container">
                  <!-- Add Service Form Content -->
                  <form method="post">
                      {% csrf_token %}
                      {{ service_form.as_p }}
                      <input type="submit" value="Ajouter un  Service">
                  </form>
              </div>
          </div>
        </div>
        {%endif%}
      
      </div>

      <div class="content">
      
        {% block content %}
        {% endblock %}
      </div>
    </div>    
{% else %}
  <p>Vous n'étes pas connectés</p>
  <a href="{% url 'login' %}"> se Connecter</a>
{% endif %}
<script>
  // Add the 'active' class to the clicked pagination item
  document.addEventListener("DOMContentLoaded", function () {
      const paginationItems = document.querySelectorAll(".pagination li");
      paginationItems.forEach(item => {
          item.addEventListener("click", function () {
              paginationItems.forEach(item => item.classList.remove("active"));
              this.classList.add("active");
          });
      });
  });
</script>

    <script src="/static/assets/js/modal.js"></script>
</body>
</html>
{% endif %}
