<!-- templates/registration/login.html -->
{% extends 'layouts/base-fullscreen.html' %}
{% block title %} Login {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3">
                            Log IN
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            {% if messages %}
                                <div class="alert alert-danger">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                Add your credentials
                            {% endif %}
                        </div>
                    

                        <form method="POST">

                            {% csrf_token %}
                        
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type='text' name='username' placeholder='username' class='form-control'>
                               
                                    </div>
                            </div>
                            <span class="text-error">{{ form.username.errors }}</span>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input type='password' name='password' placeholder='password' class='form-control'>

                                </div>
                            </div>
                            <span class="text-error">{{ form.password.errors }}</span>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                <label class="custom-control-label" for=" customCheckLogin">
                                <span class="text-muted">Remember me</span>
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p>Don't have an account? <a href="{% url 'facturation:register' %}">Register here</a>.</p>
    </div>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}