.login-container {
    margin-top: 100px; /* Adjust as needed */
}

.login-card {
    /* background-color: #FFD699; */
    border: none;
    box-shadow: 0px 5px 20px #FFD699;
}

.login-card .card-body {
    padding: 40px;
}

.login-card h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-error {
    color: red;
}

.custom-control-label::before, .custom-control-label::after {
    top: 2px;
}

.btn-primary {
    padding: 8px 12px;
    border: green;
    border-radius: 4px;
    background-color: #333;
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.2s;
    background-color: #E2A52E;
    border-color: #E2A52E;
}

button.btn.btn-primary {}

.btn-primary:hover {
    background-color: #ffd699;
    border-color: #0056b3;
}
.navbar {
    background-color: #ffebcd
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #333333;
}

/* Footer styles */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.logo {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.title {
    color: #333333;
    font-size: 18px;
}

/* Content styles */
.content {
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    background-color: #FFB923;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: #ffd699;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input.form-control {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 94%;
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 14px;
}