{% extends "layouts/base.html" %}

{% block content %}
<div class='home-section'>
    <table>
        <tr>
            <th>Non Fournisseur</th>
            
            <th>Email</th>
            <th>phone</th>
            
        </tr>
        {% for fournisseur in Fournisseurs %}
        <tr>
            <td>{{ fournisseur.nom }}</td>
            <td>{{ fournisseur.email }}</td>
            <td>{{ fournisseur.phone }}</td>
          
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}