{% extends "layouts/base.html" %}
{% load group_tags %}
{% block content %}
<div class='home-section'>
   
    <h2>Fournisseurs</h2>
    <table>
        <tr>
            <th>Non Fournisseur</th>
            <th>Email</th>
            <th>Phone</th>
            {% if request.user|user_in_group:'admin' %} 
            <th>Actions</th> <!-- Add a new column for actions -->
            {%endif%}
        </tr>
        {% for fournisseur in Fournisseurs %}
        <tr>
            <td>{{ fournisseur.name }}</td>
            <td>{{ fournisseur.email }}</td>
            <td>{{ fournisseur.phone }}</td>
            {% if request.user|user_in_group:'admin' %} 
            <td>
               
                <a href="{% url 'facturation:update_fournisseur' fournisseur.pk %}">Editer</a>
                <a href="{% url 'facturation:delete_fournisseur' fournisseur.pk %}">Supprimer</a>
            
            </td>
            {% endif%}
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% if Fournisseurs.has_previous %}
            <a href="?page={{ Fournisseurs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
        {% else %}
            <span class="disabled">&laquo;</span>
        {% endif %}
    
        {% for i in Fournisseurs.paginator.page_range %}
            {% if Fournisseurs.number == i %}
                <span class="current">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    
        {% if Fournisseurs.has_next %}
            <a href="?page={{ Fournisseurs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
        {% else %}
            <span class="disabled">&raquo;</span>
        {% endif %}
    </div>
    
    
</div>
{% endblock %}
