{% extends "layouts/base.html" %}

{% block content %}
<div class='home-section'>
    <table>
        <tr>
            <th>N°Facture</th>
            <th>Fournisseur</th>
            <th>Date Facture</th>
            <th>Date Dépot</th>
            <th>Date Échéance</th>
            <th>Service</th>
            <th>Montant</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for facture in factures %}
        <tr>
            <td>{{ facture.numero }}</td>
            <td>{{ facture.fournisseur }}</td>
            <td>{{ facture.date_facture }}</td>
            <td>{{ facture.date_depot }}</td>
            <td>{{ facture.echeance }}</td>
            <td>{{ facture.service }}</td>
            <td>{{ facture.montant }}</td>
            <td>{{ facture.status }}</td>
            <td>
                <a href="{% url 'facturation:view_facture' facture.pk %}">
                    <i class="bi bi-eye-fill"></i>
                </a><br/>
                <a href="{% url 'facturation:update_facture' facture.pk %}">
                    <i class="bi bi-pencil-fill"></i>
                </a><br/>
                <a href="{% url 'facturation:delete_facture' facture.pk %}">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}