{% extends "layouts/base.html" %}

{% block content %}
<div class='galerie'>
    <h2>Services</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            <td>{{ service.description }}</td>
            <td>
                <a href="{% url 'facturation:update_service' service.pk %}">Edit</a>
                <a href="{% url 'facturation:delete_service' service.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'facturation:add_service' %}">Add New Service</a>
</div>
{% endblock %}
