{% extends "layouts/base.html" %}
{% load group_tags %}

{% block content %}
<div class='home-section'>
    <h2>Services</h2>
    <table>
        <tr>
            <th>Nom de service</th>
            {% if request.user|user_in_group:'admin' %}      
            <th>Actions</th>
            {%endif%}
        </tr>
        {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            {% if request.user|user_in_group:'admin' %}  
            <td>
                              
                <a href="{% url 'facturation:update_service' service.pk %}">Modifier</a>
                <a href="{% url 'facturation:delete_service' service.pk %}">Supprimer</a>
              
            </td>
            {%endif%}
        </tr>
        {% endfor %}
    </table>
   
</div>
{% endblock %}
