{% extends "layouts/base.html" %}
{% load group_tags %}

{% block content %}
<div class='home-section'>
    <h2>Services</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            <td>{{ service.description }}</td>
            <td>
                {% if request.user|user_in_group:'admin' %}                <a href="{% url 'facturation:update_service' service.pk %}">Edit</a>
                <a href="{% url 'facturation:delete_service' service.pk %}">Delete</a>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
    </table>
   
</div>
{% endblock %}
