<!DOCTYPE html>
<html>
<head>
    <title>View Facture</title>
</head>
<body>
    <h1>View Facture</h1>
    <p>Facture Number: {{ facture.number }}</p>
    <p>Fournisseur: {{ facture.fournisseur }}</p>
    <p>Date Facture: {{ facture.date_facture }}</p>
    <p>Date Dépôt: {{ facture.date_depot }}</p>
    <p>Date Échéance: {{ facture.date_echeance }}</p>
    <p>Service: {{ facture.service }}</p>
    <p>Montant: {{ facture.montant }}</p>
    <p>Status: {{ facture.status }}</p>
    <a href="{% url 'facturation:homepage' %}">Back to Homepage</a>
</body>
</html>
